<div class="container" ng-show="panel.isSelected(2)" id="ajouterContact">
    <p></p>
    <div ng-controller="AddContactController as acCtrl" >
        <form 	name="addContactForm"
                 ng-submit=" acCtrl.addContact() && panel.selectTab(1) "
                 novalidate>
            <div class="form-group" ng-class="{ 'has-error' : addContactForm.nom.$invalid }">
                <label for="nom" class="col-sm-2 control-label ">Nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Enter lastname"
                           ng-model="acCtrl.contact.nom" required>
                </div>
            </div>
            <div class="form-group" >
                <label for="prenom1" class="col-sm-2 control-label">Pr&eacute;nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="prenom1" placeholder="Enter firstname"
                           ng-model="acCtrl.contact.prenom">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : addContactForm.email.$invalid }">
                <label for="Email1" class="col-sm-2 control-label">Email address</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                           ng-model="acCtrl.contact.email" >
                </div>
            </div>
            <div class="form-group" >
                <label for="tel1" class="col-sm-2 control-label">T&eacute;l&eacute;phone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="tel1" placeholder="Enter telephone number"
                           ng-model="acCtrl.contact.tel">
                </div>
            </div>
            <div class="form-group" >
                <label for="birth1" class="col-sm-2 control-label">Date de Naissance</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="birth1" placeholder="Enter birthdate"
                           ng-model="acCtrl.contact.birthdate">
                </div>
            </div>
            <div class="col-sm-12"><input type="submit" class="btn btn-primary pull-right" value="Ajouter Contact"/></div>
        </form>
    </div>
</div>