.align-top {
	vertical-align: top;
}

.tel-icon {
	width: 15px;
}

.align-middle {
	vertical-align: middle;
}

.add-img-icon {
	/*display: none;*/
	width: 30px;
	position: absolute;
	margin-top: 5px;
	margin-left: 165px;
	cursor: pointer;
}
.add-img-icon:hover {
	display: block;
}
.del-img-icon {
	width: 30px;
	position: absolute;
	margin-top: 40px;
	margin-left: 165px;
	cursor: pointer;
}